.avatar {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    border-radius: 50%;
}


.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   background-color: rgb(255, 255, 255);

}

.avatar_img{
    align-items: flex-start;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
    }

.about{
    align-content: center;
    text-justify: auto;
    border-style: solid;
}

.works {
    flex-direction: row;
    align-content: center;
    align-items: center;

}

.projects{
    align-content: center
    ;
    
}

.rodape{
    align-items: flex-end;

  

 


}